html{
    overflow-x:hidden ;
}

canvas{
  position: fixed;
  top:0;
  left:0;
}
body{
  background-color: #0c0c0c;
  color:white;
}

main{
  position: absolute;
  width:100%;
  color:white;
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
}
.scroll-section{
    height: 100vh;
    width:100%;
    /* scroll-snap-align: start; */
}
#sun{
    width:100%;
    /* background-color: red; */
    /* overflow: auto; */
}

html{
    scrollbar-color: #333 #444; 
}

#screen{
  background-color: white;
  position: relative;
  left:100px;
  height:300px;
  width:100px;
}