html{
    overflow-x:hidden ;
}

canvas{
  position: fixed;
  top:0;
  left:0;
}
body{
  background-color: #0c0c0c;
  color:white;
}

main{
  position: absolute;
  width:100%;
}

#sun{
    height: 300vh;
    width:100%;
    /* background-color: red; */
    /* overflow: auto; */
}

html{
    scrollbar-color: #333 #444; 
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 62.5 to 100 */

.main-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color:white;
  }
  
  /* // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 200 to 1000 */
  
  .secondary-font {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
      color:white;
  }

.heading{
    background-color:#1b1b1b;
}

.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex-end{
    display:flex;
    justify-content: end;
    align-items: center;
}

.flex-start{
    display:flex;
    justify-content: start;
    align-items: center;
}

#socialid{
    gap:20px;
}

.grid-container-heading{
    display: grid;
    height: 600px;
    width:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.flex-container-heading{
    height:600px;
    margin-top:80px;
}

.profile-photo{
    grid-area : 1 / 2 / 5 / 3;
}

#profile-photo-id{
    border:solid rgb(54, 55, 54) 2px;
    border-radius:50%;
}

.main-name{
    grid-area: 1 / 1 / 5 / 2;
    margin-right:25%;
}

.main-name>h1{
    font-size:60px;
    text-align:center;
}

.socials{
    grid-area: 5 / 1 / 7 / 2;
}
.socials > div{

    margin-right:51%;
}

#about-me{
    grid-area: 7 / 1 / 11 / 2;
    text-align: left;

}

#about-me>p{
    padding-right:24%;
}

@media (max-width: 400px){
    #about-me>p{
        padding-left:0%;
        padding-right:0%;
    }
}

.aboutme-heading{
    grid-area: 6 / 2 / 7 / 3;
}

.portfolio-heading{
    grid-area: 7 / 2 / 8 / 3;
}

.skills-heading{
    grid-area: 8 / 2 / 9 / 3;
}

.contactme-heading{
    grid-area: 9 / 2 / 10 / 3;
}

.underline-text{
    color: inherit; 
    text-decoration: underline;
    text-decoration-color: rgb(76, 75, 74);
    text-underline-offset:15px;
}

.aboutme{
    position: relative;
}

.lists{
    width:650px;
}
.cs-image{
    float:left;
}

.what-keeps-me-going{
    display:flex;
    justify-content: end;
}

.carousel-caption.custom-caption{
    position:static;
    text-align: center;
}

.porfolio-description *{
    display: inline;
    color: white;
    text-decoration: none;
}

.porfolio-description > a :hover{
    
    color: rgb(0, 255, 13);
}

.skill-secondary-color{
    color:#797979
}