html{
    overflow-x:hidden ;
    
}

canvas{
  position: fixed;
  top:0;
  left:0;
}
body{
  background-color: #0c0c0c;
  color:white;
}

main{
  position: absolute;
  width:100%;
  color:white;
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
}
.scroll-section{
    height: 100vh;
    width:100%;
    /* scroll-snap-align: start; */
}
#sun{
    width:100%;
    /* background-color: red; */
    /* overflow: auto; */
}

html{
    scrollbar-color: #333 #444; 
}

.landingPage{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height:100%;
}

.MainTitle{
  grid-area: 2/1/4/9;
  
}

.maintitle{
font-size: 80px;
margin: 0;
padding: 0;;
}

.smallHero{
  font-size: 55px;
  background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  color: transparent;
  background-clip: text;
  
}
.heroContacts{
  grid-area: 6/1/7/6;
}
.flex-left2{
  width:100%;
  height:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap:20px;
}
.clickAnimations{
  cursor:pointer;
  color:white;
  transition: transform 0.2s ease-in-out;
}
.clickAnimations:hover{
  transform: scale(1.2);
}

.textLink{
  color:blue;
  cursor:pointer;
}
.textLink:hover{
  text-decoration: underline;
}


#screen{
  background-color: white;
  position: relative;
  left:100px;
  height:300px;
  width:100px;
}

.displayHide{
  display: none;
  /* opacity: 0; */
}
.hidden{
  opacity: 0;
  transition: opacity 0.3s linear;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

.flex-left{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  height: 100%;
}

.bold{
  font-weight: 600;
}

#test{
background-color: red;
}

#horizontalPhoneScreen{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.leftHalf{
  background-color: #000000;
  width: 100%;
  height: 100%;
  translate: 0px 0px;
}

.rightHalf{
  background-color: #000000;
  width: 100%;
  height: 100%;
  translate: 0px 0px;
}
.hoverRight{
  translate: 1000px 0px;
  transition: translate 1s ease;
}
.hoverLeft{
  translate: -1000px 0px;
  transition: translate 1s ease;
}

.curtains{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.fullHeight{
  height: 100%;
}

#screenContent{
  position: absolute;
  background-color: rgb(31, 17, 49);
  /* z-index: 5; */
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  
  /* this causes issues */
  /* display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr); */
}

.content{
   position: absolute;
  background-color: rgb(31, 17, 49);
  /* z-index: 5; */
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.screenContentBody{
  background-color: rgb(31, 17, 49);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col{
  flex-direction: column;
}

#exit{
  grid-area: 1/12/2/13;
}

#extra{
  position: relative;
}
#links{
    grid-area:6/4/7/10;
}

.screenHeading{
  grid-area: 4/5/6/9;
}
.space-between{
  justify-content: space-evenly;
}
#links p{
  font-size: 20px;
  transition: transform 0.3s ease-out;
}
#links p:hover{
  transform: scale(1.2);
  text-decoration:underline;
  /* transition: scale 0.2s ease-in-out; */
  cursor:pointer;
}

.title{
  grid-area: 2/2/4/5;
}

.normalText{
  font-size: 20px;
}

.sidebar{
  grid-area: 6/2/9/4;
}

.link{
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.link:hover{
  transform: scale(1.1);
  text-decoration:underline;
}

.flex-start{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:20px;
}

.big{
  font-size: 70px;
}

.bodyHeader{
  grid-area: 2/5/4/10;
}

.nonscrollabelbody{
  pointer-events: none;
}

.body{
  grid-area:5/5/12/12;
  overflow-y: scroll;
  overscroll-behavior: contain;
  padding-right: 20px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.02);
  padding: 20px;
  transition: scale 0.3s ease;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;  
}
.body:hover {
  scale : 1.02;
}

.text-justify{
  text-align: justify;
}
.example {
  overflow-y: scroll;
}


.example::-webkit-scrollbar {
    display: none;
}

.example {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.exitButton{
  grid-area: 2/11/3/12;
  
}
.exitAnim{
transition: transform 0.1s ease-in;
}
.exitAnim:hover{
  transform: scale(1.1);
}

.gap{
  gap:30px;
}

.header{
  font-weight: 600;
  font-size: 20px;
}

.marginzero{
  margin: 0;
}

.socials{
  transition: transform 0.3s ease-in-out;
}
.socials:hover{
  transform: scale(1.2) rotate(360deg); 
}

.contactPage input{
  background-color: rgb(31, 17, 49);
  border-radius: 4px;
  border:0px;
  height:40px;
  margin:10px 0px 10px 0px;
  width: 90%;
  color:#E8F0FE;
}
textarea{
  background-color: rgb(31, 17, 49);
  border-radius: 4px;
  border:0px;
  width: 90%;
  color:#E8F0FE;
}

.contactSubmit{
  border-radius: 5px;
  border: 0px;
}

.flex-spaceapart{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 90%;
}

.test{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height:100vh;
}

.moonHead{
  grid-area: 2/6/4/10;
}
.moonHead button{
  border:0;
  height:50px;
  width:150px;
  border-radius: 5px;
  font-size: 24px;
}
.techStack{
  grid-area:5/6/9/10;
  
}
.techIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.techIcons img{
  background-color: transparent;
}
.border{
  border-radius: 10px;
  background: rgba(36, 36, 36, 0.2);
  border :2px solid white;
}

















/* HTML: <div class="loader"></div> */
.loader {
  width: 240px;
  height: 40px;
  background: 
    linear-gradient(#000 50%,#0000 0),
    linear-gradient(#0000 50%,#000 0),
    linear-gradient(#000 50%,#0000 0),
    linear-gradient(#0000 50%,#000 0),
    linear-gradient(#000 50%,#0000 0),
    linear-gradient(#0000 50%,#000 0)
    #ddd;
  background-size: calc(100%/6 + 1px) 200%;
  background-repeat: no-repeat;
  animation: l12 1.8s infinite;
}
@keyframes l12 {
  0%     {background-position: calc(0*100%/5) 100%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  16.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  33.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  50%    {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  66.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  83.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5)   0%}
  100%   {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5) 100%}
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-style: normal;
}
